<form class="border p-3 rounded-3 shadow shadow-lg p-5" [formGroup]="addCountryForm" (ngSubmit)="AddCountrySubmitted()">
    <div class="row g-0">
      <diV class="col text-center fw-bold p-2 mb-3">
        <span class="fs-3">Add Country</span>
      </diV>
    </div>
  
    <div class="row">
      <div class="col mb-3 fw-bold">
        <label for="name" class="form-label">Country Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div class="form-text text-danger text-center" *ngIf="Name.errors?.['required'] && (Name.touched||Name.dirty)">
          Country Name is required.
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-6 offset-3">
        <div class="d-grid text-center">
          <button type="submit" class="btn btn-outline-primary mt-3" [disabled]="addCountryForm.invalid"> Add Country </button>
        </div>
      </div>
  
    </div>
  
  </form>